body{
    background-color: hsl(240, 65%, 15%);
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 30%!important;
}
.header-nav{
    margin: 0;
    padding: 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-nav h1{
    font-family: "Times New Roman", sans-serif, serif;
    text-align: center;
    font-size: 2.5rem;
}
.nav-buttons{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 10px;
    align-items: center;
}
.nav-buttons a{
    font-size: 1.3rem;
    text-align: center;
}
a{
    text-decoration: none;
}
.header-nav-h1, .nav-buttons a, .about-me, .projects, .education, footer p{
    color: hsla(49, 67%, 92%, 0.87);
}
main{
    margin: 0;
    padding: 0;
    width: 70%!important;
    height: 100%;
    place-self: flex-end;
}

.about-me, .education{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.projects-container{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}

footer{
    position: fixed;
    bottom: 0;
}
.projects{
    padding-bottom: 50px;
    width: 100%;
}
.projects-header, .about-me-header, .education-header{
    text-align: center;
    margin: 0;
}
.projects-container{
    margin-top: 70px;
}
.projects, .education, .about-me, .about-me-text{
    margin-top: 70px;
}
.about-me-text, .education-list{
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.about-me-text{
    width: 70%;
}
.education-list {
    list-style-type: none;
    text-align: center;
    margin: 30px;
    column-count: 3;
    column-gap: 150px;
    padding: 0;
}

.education-list li {
    break-inside: avoid;
    padding: 5px 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: hsl(240, 65%, 25%);
    border-radius: 20px;

}
.github-icon{
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 0;
    width: 50px;
}
.card-title{
    margin-top: 10px;
    font-size: 24px;
}
.card-image{
    margin: 0;
    position: absolute;
    top: 94px;
    left: 125px;
    height: 150px;
    width: 150px;
    border-radius: 5%;
    border: 5px hsla(49, 67%, 92%, 0.87) solid;
}
.card-text{
    position: absolute;
    top: 294px;
    text-align: justify;
    padding: 0 5px;
}
@media screen and (max-width: 600px){
    body{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header{
        position: relative;
        width: 100%!important;
    }
    .header-nav-h1{
        font-size: 2rem!important;
    }
    main{
        position: relative;
    }
    footer{
        position: relative;
    }
    main{
        width: 100%!important;
    }
    .about-me-text{
    }
    .education-list{
        column-count: 2;
        margin: 0 20px 0 0;
    }
}



